.container {
  // position: absolute;
  // width: auto;
  height: 100%;
  // align-self: stretch;
  // max-height: 100%;
  // max-width: 100%;
  aspect-ratio: 1 / 1;
  // top: 0;
  // left: 0;
  // z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.glsl_canvas {
  max-width: 100%;
  max-height: 100%;
}